{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>Chats</title>
</head>
<body>
    <h2>Chat: {{room_name}}</h2>

    <div id="display"></div>

    <div class="container">
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="user_name" value="{{user_name}}" />
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}" />
            <input type="text" name="message" id="message" width="100px" />
            <input type="submit" value="Send">
        </form>
    </div>

<script>
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type: "GET",
                url: "/getMessages/{{room_name}}/",
                
                success: function (response) {
                    $("#display").empty()

                    for (var key in response.messages){
                        var messages_list = `
                        <div class="container dark"> 
                            <b>${response.messages[key].user}</b>
                            <p>${response.messages[key].message}</p>
                            <span class="time-left">${response.messages[key].date}</span>
                        </div>
                        `
                        $('#display').append(messages_list)
                    }
                },

                error: function(response){
                    alert("Something failed")
                }
            });
        },1000)
    })
</script>
<script src="{% static 'js/chat.js' %}"></script>

</body>
</html>